



/*-----NAVIGATION-----*/

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: auto;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

/*------LOGO-----*/

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*-----HEADING-----*/
h1 {
    margin-left: 30px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}


/*--------FORM---------*/

form fieldset {
    margin: 2rem 10rem 0;
    border: 1px solid grey;
    padding: .5rem 2%;
    width: 60%;
    border-radius: 9px;
    
}

form label.one, form div {
    display: block;
    padding-top:  1rem;
    color: red;
    font-size: .9rem;
}

form label.one input, form label.one select {
    display: block;
    font-size: 1rem;
    border-radius: 9px;
    border: solid 2px grey;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background: rgba(0,0,0,0.05);
}


form input.submitBtn {
    border: none;
    background-color: red;
    color: white;
    border-radius: 9px;
    padding: .75rem 1.5rem;
    margin: 1rem 1rem 1rem 2%;
    width: 96%;
    max-width: 20rem;
}



/*-----FOOTER-----*/
.footer {
    font-size: 10px;
    background-color: grey;
    padding: 14px 16px;
    color: white;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}